.inertia_ground {
    width: 80px;
    height: 80px;
    margin-right: 3px;
    margin-bottom: 3px;
    float: left;
    border-radius: 3px;
    background: #6d6b6b;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* The same as your div height */
  }
  
.inertia_wall {
    width: 80px;
    height: 80px;
    margin-right: 3px;
    margin-bottom: 3px;
    float: left;
    border-radius: 3px;
    background: #944a4a;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* The same as your div height */
}
  
  .endpoint {
    width: 80px;
    height: 80px;
    margin-right: 3px;
    margin-bottom: 3px;
    float: left;
    border-radius: 3px;
    background: #388e85;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;       /* The same as your div height */
  }
  
  
  .img {
    width: 100%; /* or any custom size */
    height: 100%; 
    
    object-fit: contain;
  }